<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h3 style="margin-left: 20%"> TL : {{user.username | uppercase}}</h3>

<!-- Array of String -->
<!--<div style="margin-left: 20%">
  <ul class="demo" *ngFor="let user of userList">
    <li>{{user}}</li>
  </ul>
</div>-->

<!-- Array of Object -->
<div style="margin-left: 20%">
  <ul class="demo" *ngFor="let user of userList">
    <li>{{user.username}}</li>
  </ul>
</div>

<!--<router-outlet></router-outlet>-->
